.container:hover {
    transition: all 4s ease-in;
}

.circle-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.icon {
    position: absolute;
    color: #fff;
    font-size: 55px;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}

.circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    /* animation: spin 20s linear infinite; */
}

.success {
    background-color: #e9d6c2;
    border: 2.5px dashed #748173;
}

.box:hover .circle {
    animation: spin 10s linear infinite;
}

.btn,
.btn2 {
    transition: all .4s ease-in;
}

.box:hover .btn {
    background: #e9d6c2;

}

.box:hover .btn2 {
    background: #748173;

}


@keyframes spin {

    100% {
        transform: rotate(360deg);
    }
}

/* pa {
    bg_Primary: #748173;
    text_Primary: #749383;
    text_Secondry: #e9d6c2
} */