.text-1 {
    background: transparent;
    margin-bottom: 1px;
    position: relative;
    animation: text 2s 1;
}

@keyframes text {
    0% {
        margin-bottom: 10px;
        opacity: 0;
    }

    10% {
        margin-bottom: 10px;
        opacity: 0;
    }

    30% {
        
        margin-bottom: 10px;
        opacity: 0.4;
    }

    80% {
        
        margin-bottom: 10px;
        opacity: 0.7;
    }
}